/* global font and colors variables */
$font-family: 'Oswald', sans-serif;
$font-family-alt: 'Sacramento', cursive;

$turquoise: #284f54;
$teal: #30A8B5;
$cream: #f0cfbe;
$rust: #924820;
$brick: #3d2018;

/* global mixin for responsive font size */
@mixin fontSize($size) {
  font-size: $size * 1px;
  font-size: $size * 0.1rem;
}
