$font-family: Helvetica, sans-serif;

$turquoise: #284f54;
$teal: #2c98a4;
$cream: #f0cfbe;
$rust: #c5622b;
$brick: #3d2018;



/* globally style colors, headers */

//Mixin for responsive font size
@mixin fontSize($size) {
  font-size: $size * 1px;
  font-size: $size * 0.1rem;
}
